anyio==3.5.0; python_version >= "3.6" and python_full_version >= "3.6.2"
asgiref==3.5.0; python_version >= "3.7"
base58==2.1.1; python_version >= "3.7" and python_version < "4.0"
bases==0.2.1; python_version >= "3.7" and python_version < "4.0"
bitarray-hardbyte==2.3.8; python_version >= "3.7" and python_version < "4.0"
blake3==0.3.1; python_version >= "3.7" and python_version < "4.0"
click==8.1.2; python_version >= "3.7"
colorama==0.4.4; python_version >= "3.7" and python_full_version < "3.0.0" and python_version < "4.0" and sys_platform == "win32" and platform_system == "Windows" or python_version >= "3.7" and python_version < "4.0" and sys_platform == "win32" and python_full_version >= "3.5.0" and platform_system == "Windows"
data-url==1.0.3; python_version >= "3.7" and python_version < "4.0"
fastapi==0.75.1; python_full_version >= "3.6.1"
h11==0.13.0; python_version >= "3.7"
idna==3.3; python_version >= "3.6" and python_full_version >= "3.6.2"
importlib-metadata==4.11.3; python_version < "3.8" and python_version >= "3.7"
iscc-core==0.2.4; python_version >= "3.7" and python_version < "4.0"
jcs==0.2.0; python_version >= "3.6"
loguru==0.6.0; python_version >= "3.7" and python_version < "4.0"
more-itertools==8.12.0; python_version >= "3.7" and python_version < "4.0"
pybase64==1.2.1; python_version >= "3.7" and python_version < "4.0"
pydantic==1.9.0; python_version >= "3.7" and python_version < "4.0" and python_full_version >= "3.6.1"
python-dotenv==0.20.0; python_version >= "3.7" and python_version < "4.0" and python_full_version >= "3.6.1"
sniffio==1.2.0; python_version >= "3.6" and python_full_version >= "3.6.2"
starlette==0.17.1; python_version >= "3.6" and python_full_version >= "3.6.1"
typing-extensions==4.1.1; python_version < "3.8" and python_version >= "3.7" and python_full_version >= "3.6.2"
typing-validation==0.0.1.post7; python_version >= "3.7" and python_version < "4.0"
uvarint==1.2.0; python_version >= "3.7" and python_version < "4.0"
uvicorn==0.17.6; python_version >= "3.7"
win32-setctime==1.1.0; python_version >= "3.7" and python_version < "4.0" and sys_platform == "win32"
xxhash==3.0.0; python_version >= "3.7" and python_version < "4.0"
zipp==3.8.0; python_version < "3.8" and python_version >= "3.7"
